<div class="main-content mt-1">
  <div class="">
      <div class="row">
          <div class='col-md-12 mb-0'>
              <div class="card ">
                    <div class="card-header">
                        <h4 class="card-title">View Report</h4>
                        <p class="card-category"> Search Test Report by Reciept ID</p>
                        <hr>
                    </div>
                <form>
                    <div class="row mx-1">
                        <div class="col-md-6 my-auto"><h4 class="text-right"> Reciept No:</h4></div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" >
                                <mat-label>Enter Reciept NO</mat-label>
                                <input matInput type="text" placeholder="Enter Reciept NO">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    
                </form>
          </div>
          </div>
          
          <div class="col-md-12 mt-1">
              <div class="card mt-1">
                  <div class="card-header">
                      <h3 class="card-title mt-0 text-center">Medical Report</h3>
                      
                  </div>
                  <div class="card-body">
                      <div class="row mx-3">
                          <div class="col-md-6">
                              <div class="card card-plain">
                                  <div class="card-header">
                                        <h4 class="card-title"><strong>Repord Details</strong></h4>
                                  </div>
                                  <div class="card-body pl-1">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><strong class="mr-1">Report Frofile:</strong> {{reportData.testProfileName}} </li>
                                            <li class="list-group-item"><strong class="mr-1">Name:</strong>Mr. {{reportData.name}} </li>
                                            <li class="list-group-item"><strong class="mr-1">Gender:</strong> {{reportData.gender}} </li>
                                            <li class="list-group-item"><strong class="mr-1">Location:</strong> {{reportData.location}} </li>
                                        </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="card card-plain">
                                <div class="card-header">
                                    <h5 class="card-title text-right"><strong>Date:</strong> {{reportData.issuedData}} </h5>
                                </div>
                            </div>
                      </div>
                      <div class="table-responsive">
                          <table class="table table-striped">
                              <thead class="thead-dark">
                                  <th>
                                      Test Name
                                  </th>
                                  <th>
                                      Result
                                  </th>
                                  <th>
                                      Reference Range
                                  </th>
                                  <th>
                                      Unit
                                  </th>
                                 
                              </thead>
                              <tbody>
                                  <tr *ngFor = 'let test of reportData.testResult'>
                                      <td>
                                          {{test.testName}}
                                      </td>
                                      <td>
                                            {{test.result}}
                                      </td>
                                      <td>
                                            {{test.referenceRange}}
                                      </td>
                                      <td>
                                            {{test.unit}}
                                      </td>
                                      
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
