<div class="main-content mt-1">
  <div class="">
      <div class="row">
          <div class='col-md-12 mb-0'>
              <div class="card ">
                    <div class="card-header">
                        <h4 class="card-title">View Report</h4>
                        <p class="card-category"> Search Test Report by Reciept ID</p>
                        <hr>
                    </div>
                <form [formGroup]='formId'>
                    <div class="row mx-1">
                        <div class="col-md-6 my-auto"><h4 class="text-right"> Reciept No:</h4></div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" >
                                <mat-label>Enter Reciept NO</mat-label>
                                <input matInput type="text" (keyup.enter)='searchReciept()' placeholder="Enter Reciept NO" formControlName='recieptID'>
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    
                </form>
          </div>
          </div>
          
          <div class="col-md-12 mt-1">
              <div class="card mt-1" *ngIf="recordDataRecieved">
                  <div class="card-header">
                      <h3 class="card-title mt-0 text-center">Medical Report</h3>
                      <hr class="mb-0">
                  </div>
                  
                  <div class="card-body mt-0">
                      <div class="row mx-3">
                          <div class="col-md-6 mt-0">
                              <div class="card card-plain mt-0">
                                  <div class="card-header">
                                        <h4 class="card-title"><strong>Repord Details</strong></h4>
                                       
                                  </div>
                                  <div class="card-body pl-1">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><strong class="mr-1">Report Profile:</strong> {{recordDataRecieved.profileName}} </li>
                                            <li class="list-group-item"><strong class="mr-1">Name:</strong>{{getGender()}} {{recordDataRecieved.customerName}} </li>
                                            <li class="list-group-item"><strong class="mr-1">Gender:</strong> {{recordDataRecieved.gender}} </li>
                                            <li class="list-group-item"><strong class="mr-1">Location:</strong> {{recordDataRecieved.location}} </li>
                                        </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 mt-0">
                            <div class="card card-plain mt-0">
                                <div class="card-header ">
                                    <h5 class="card-title text-right"><strong>Date:</strong> {{date | date: 'dd/MM/yyyy'}} </h5>
                                </div>
                            </div>
                      </div>
                      <div class="table-responsive">
                          <table class="table table-striped">
                              <thead class="thead-dark">
                                  <th>
                                      Test Name
                                  </th>
                                  <th>
                                      Result
                                  </th>
                                  <th>
                                      Reference Range
                                  </th>
                                  <th>
                                      Unit
                                  </th>
                                 
                              </thead>
                              <tbody>
                                  <tr *ngFor = 'let test of recordDataRecieved.testList'>
                                      <td >
                                          {{test.testName}}
                                      </td>
                                      <td *ngIf='test.testStatus'>
                                            {{test.testResult}}
                                      </td>
                                      <td *ngIf='test.testStatus'>
                                            {{test.range}}
                                      </td>
                                      <td *ngIf='test.testStatus'>
                                            {{test.unit}}
                                      </td>
                                      <td *ngIf='!test.testStatus' style="color:red">
                                        Test Not Completed Yet.
                                      </td>
                                      
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
