.main-body{
    max-width: 1250px;
    margin: 70px auto;
    .card{
        .card-header{
            .text-title{

            }
        }
        .card-body{
            .test-title{
                    margin-left:10px;
                    font-size: 18px; 
                    font-weight: normal;
            }
            .row{
                .card{
                    box-shadow: none;
                     border-left: none;
                    border-radius:0px; 
                }
               
            }
        }
    }
}
.navigator{
    margin: 2px  ;
}
.body{
    max-width: 1200px;
    margin: 10px  auto;
}