<div class = "stepper-form">
        <div fxLayout="row" fxLayoutWrap="wrap" >
                <!-- Card column -->
                <div fxFlex.gt-sm="100%" fxFlex="100">
                   
                    <mat-card>
                            <div *ngIf = 'finalSubmitError' class="alert alert-danger " role="alert">
                                    <strong>Submit ERROR:</strong> Form is not submitted.
                                    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                     </button> -->
                            </div>
                        <mat-card-content>
                            <mat-card-title>Add Customer Report</mat-card-title>
                            
                            <mat-horizontal-stepper >
                                <!-- +===========================================================
                                    This is a first stepper .that is user to display Test items
                                     +=========================================================== -->
                             <mat-step [stepControl]="firstFormGroup">
                                <div class="card">
                                    <div class="card-header ">
                                        <h4 class="card-title">Edit Profile</h4>
                                        <p class="card-category">Complete your profile</p>
                                    </div>
                                    <div class="card-body">
                                        <ng-template matStepLabel>Add Report</ng-template>
                                        <mat-accordion  *ngFor = "let testset of testSet;let i = index">
                                                <mat-expansion-panel *ngIf="testset.testProfileName != 'Custom'">
                                                  <mat-expansion-panel-header>
                                                    <mat-panel-title  >
                                                      <mat-checkbox (change)="makeJSON($event,i,testset)" (click) = "$event.stopPropagation();" 
                                                                    class="check_box_Style"><span class ="txtdecoCheckbox">{{testset.testProfileName}}</span></mat-checkbox>
                                                    </mat-panel-title>
                                                    
                                                  </mat-expansion-panel-header>
                                              
                                                  <!-- Inside the panel expand-->
                                                  <mat-list>
                                                        <mat-list-item *ngFor = "let test of testset.testSet">{{test.name}}</mat-list-item>
                                                  </mat-list>
                                                        
                                                  
                                                </mat-expansion-panel>
                                                
                                                <mat-expansion-panel *ngIf="testset.testProfileName == 'Custom'">
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title  >
                                                                Custom Test
                                                        </mat-panel-title>
                                                        <mat-panel-description>
                                                            You can add several tests.
                                                        </mat-panel-description>
                                                    </mat-expansion-panel-header>
                                                
                                                    <!-- Inside the panel expand-->
                                                    <mat-list>
                                                            <mat-list-item *ngFor = "let test of testSet[0].testSet"><mat-checkbox 
                                                                 (change)='makeJSON($event,i,testset,test)'>{{test.name}}</mat-checkbox></mat-list-item>
                                                    </mat-list>
                                                </mat-expansion-panel>
                                                                
                                    </mat-accordion>
                                        <button mat-raised-button type="button" class="btn btn-danger pull-right" matStepperNext>Next</button>
                                        <button mat-raised-button type="button" class="btn btn-danger pull-right" matStepperPrevious>Back</button>
                                        
                                    </div>
                                      
                                </div>
                                       
                                
                              </mat-step>
                              <!-- +==============================================================================
                                    This is SECOND STEPPER .that is user to display Costommer details insert form
                                   +============================================================================== -->
                              <mat-step [stepControl]="customerDetailForm">
                                  <div class="main-content">
                                        <!-- <div class="container-fluid"> -->
                                            <!-- <div class="row">
                                                <div class="col-md-12"> -->
                                                    <div class="card" style="margin-top: -70px;">
                                                        <div class="card-header card-header-danger">
                                                            <h4 class="card-title">Add Customer</h4>
                                                        </div>
                                                        <div class="card-body">
                                                                <ng-template matStepLabel>Add Costommer</ng-template>
                                                            <form [formGroup]= "customerDetailForm">
                                                                <input type="hidden" formControlName = "customerId" [(ngModel)]='existingCustomerData.customerId'><!--This field is used to store existing customer id-->
                                                                <div class="row">
                                                                    <div class="col-md-8 "></div>
                                                                    <div class="col-md-3 " style = "margin-left:0px;">
                                                        
                                                                        <mat-form-field class="example-full-width" >
                                                                          <input matInput placeholder="Telephone Number" type="text" (keyup.enter)='onTpSubmit()' formControlName='tpNo'>
                                                                          
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                       <button mat-icon-button (click)="onTpSubmit()" type="button"  class="btn btn-danger pull-left" ><mat-icon>search</mat-icon></button> 
                                                                    </div>
                                                                    
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                      <mat-form-field class="example-full-width">
                                                                        <input matInput placeholder="Name" type="text" [(ngModel)]='existingCustomerData.name' formControlName='name'>
                                                                      </mat-form-field>
                                                                    </div>
                                                                  </div>
                                      
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                      <mat-form-field class="example-full-width">
                                                                        <input matInput placeholder="Email" type="email" [(ngModel)]='existingCustomerData.email' formControlName='email'>
                                                                      </mat-form-field>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <mat-form-field class="example-full-width">
                                                                            <mat-select placeholder="Location" formControlName = 'location'>
                                                                                <mat-option *ngFor="let location of locations"  [value]="location.locationId"> {{location.location}} </mat-option> 
                                                                            </mat-select>
                                                                        </mat-form-field>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                          <mat-form-field class="example-full-width">
                                                                                  <input matInput [matDatepicker]="picker" placeholder="Date of Birth" [(ngModel)]='existingCustomerData.dob' formControlName='dateOfBirth'>
                                                                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                                  <mat-datepicker touchUi #picker></mat-datepicker>
                                                                          </mat-form-field>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label style = "margin-top: 20px; margin-left: 30px"> Gender:
                                                                            <mat-radio-group style = "margin-left: 30px" [(ngModel)]='existingCustomerData.gender' formControlName='gender'>
                                                                                    <mat-radio-button value="male" >Male</mat-radio-button>
                                                                                    <mat-radio-button value="female" style = "margin-left: 50px" >Female</mat-radio-button>
                                                                            </mat-radio-group>
                                                                        </label>
                                                                    </div>
                                      
                                                                </div>
                                      
                                                                <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]='!customerDetailForm.valid' (click)='onSubmit()' matStepperNext>Next</button>
                                                                <button mat-raised-button type="button" class="btn btn-danger pull-right" matStepperPrevious>Back</button>
                                                                <div class="clearfix"></div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                <!-- </div>
                                            </div> -->
                                        <!-- </div> -->
                                      </div>
                                
                                    
                              </mat-step>
                              <!-- +==============================================================================
                                    This is THIRD STEPPER .This is used to Display billing details....
                                   +============================================================================== -->
                              
                              <mat-step>
                                    <ng-template matStepLabel>Billing Information</ng-template>
                                       <h4 *ngIf='receipt' style="font-weight: bold">Reciept ID: {{receipt.receiptId}}</h4>
                                       <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                                <th>
                                                    Profile ID
                                                </th>
                                                <th>
                                                    Prfile Name/Test
                                                </th>
                                                
                                                <th>
                                                    Costs
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr  *ngFor='let testProf of testProfiles' >
                                                    
                                                    <td *ngIf='isCustomTest(testProf.profileName)'>
                                                            {{ testProf.profileId}}
                                                    </td>
                                                    <td *ngIf='isCustomTest(testProf.profileName)'>
                                                            {{testProf.profileName}}
                                                    </td>
                                                        
                                                    <td class="text-primary" *ngIf='isCustomTest(testProf.profileName)'>
                                                        {{testProfilePrice(testProf.profileId)|number:'.2-2'}}
                                                    </td>
                                                    
                                                    <td *ngIf='!isCustomTest(testProf.profileName)'>
                                                            {{ testProf.profileId}}
                                                    </td>
                                                    <td *ngIf='!isCustomTest(testProf.profileName)'>
                                                            {{testProf.profileName}}
                                                    </td>
                                                        
                                                    <td class="text-primary" *ngIf='!isCustomTest(testProf.profileName)'>
                                                        {{customTestPrice()|number:'.2-2'}}
                                                    </td>  
                                                </tr>
                                                <tr>
                                                    <td>
                                                        
                                                    </td>
                                                    <td  style="text-align:right;font-weight:900;">
                                                        Total
                                                    </td>
                                                    
                                                    <td class="text-primary">
                                                        Rs.{{SubTotal|number:'.2-2'}}
                                                    </td>
                                                </tr>
              
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <button mat-raised-button type="button" class="btn btn-danger pull-right"  matStepperNext>Next</button>
                                        <button mat-raised-button type="button" class="btn btn-danger pull-right" matStepperPrevious>Back</button>
                                    </div>
                              </mat-step>
                              <!-- +==============================================================================
                                    This is FOURTH STEPPER .This is used to store container details ....
                                   +============================================================================== -->
                              
                              <mat-step>
                                <ng-template matStepLabel>Add Containers</ng-template>
                                <form [formGroup]='specimenIds'>
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Speciman Container Details</h4>
                                            <!-- <p class="card-text">This is for inserting Speciman ID</p> --><!--can add description about speciman types-->
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width" appearance="outline" >
                                                        <mat-label>Specimen ID</mat-label>
                                                        <input matInput placeholder="Specimen ID" type="text" formControlName='specimenId'>
                                                    </mat-form-field>
                                                </div>
                                                <!-- <div class="col-md-6">
                                                    <mat-form-field class="example-full-width" appearance="outline" >
                                                        <mat-label>Blood Sample ID</mat-label>
                                                        <input matInput placeholder="Blood Sample ID" type="text" formControlName='blood'>
                                                    </mat-form-field>
                                                </div> -->
                                            </div>
                                        </div>
                                        
                                    </div>
                                </form>
                                <div>
                                    <button mat-raised-button type="button" (click) = 'sendBigData()' class="btn btn-danger pull-right" matStepperNext>Save</button>
                                    <button mat-raised-button type="button" class="btn btn-danger pull-right" matStepperPrevious>Back</button>
                                </div>
                              </mat-step>
                            </mat-horizontal-stepper>
                        </mat-card-content>
                         
                    </mat-card>    
                </div>
  </div>
</div>
