
.stepper-form{
    margin: 10px;
    margin-top:5%; 
}
.txtdecoCheckbox{
    font-size:20px;
    color:rgb(145, 49, 5);
    margin-left: 10px;
    padding-top: 20px;
}

.check_box_Style{
   margin-top:5px;
   color: red;  
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: orange;
    font-size: 25px;
    height: 22px!important;
    width: 22px!important;
  }
  
  ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: red !important;
    height: 22px!important;
    width: 22px!important;
  }

  .mat-checkbox-inner-container {
    
  }

