<div class = "stepper-form" style="margin:7% 6% 0% 6%;">
        <div fxLayout="row" fxLayoutWrap="wrap" >
                <!-- Card column -->
                <div fxFlex.gt-sm="100%" fxFlex="100" >
                   
                    <mat-card style="border-radius: 0px;">
                            <div *ngIf = 'finalSubmitError' class="alert alert-danger " role="alert">
                                    <strong>Submit ERROR:</strong> Form is not submitted.
                                    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                     </button> -->
                            </div>
                        <mat-card-content>
                            <mat-card-title style="padding: 1% 0% 0% 1%;font-family: Lato;">Customer Billing Form<br>
                              <span style="font-weight: 400;font-size: 14px;color: rgba(0,0,0,0.6);">Customer Reference ID <a href="#">#42358</a></span></mat-card-title>
                            
                            <mat-horizontal-stepper labelPosition="bottom">
                                <!-- +===========================================================
                                    This is a first stepper .that is user to display Test items
                                     +=========================================================== -->
                             <mat-step [stepControl]="">
                                <div class="card">

                                     <div class="card-header card-header-danger">
                                            <h4 class="card-title">Patient Information Collection</h4>
                                            <p class="card-category">Use this form to collect the patient information.</p>
                                    </div>
                                    <div class="card-body">
                                        <ng-template matStepLabel>Select Report</ng-template>
                                        
                                          
                                        
                                        <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 order-first" style="margin: 0"  *ngFor = "let testset of testSet;let i = index">
                                          <mat-accordion  >
                                          
                                              <mat-expansion-panel style="border-radius: 0px;" *ngIf="testset.testProfileName != 'Custom'" >
                                                      <mat-expansion-panel-header style="background-color: #f9f9f9;">
                                                        <mat-panel-title>
                                                          <mat-checkbox (change)="makeJSON($event,i,testset)" (click) = "$event.stopPropagation();" 
                                                                        class="check_box_Style"><span class ="txtdecoCheckbox" style="font-family: Lato;font-size: 14px;font-weight: 700;">{{testset.testProfileName}}</span></mat-checkbox>
                                                                        
                                                        </mat-panel-title>
                                                        <mat-panel-description>
                                                                            You can add several tests.
                                                                        </mat-panel-description>
                                                      </mat-expansion-panel-header>
                                                  
                                                      <!-- Inside the panel expand-->
                                                      <mat-list>
                                                            <mat-list-item *ngFor = "let test of testset.testSet">{{test.name}}</mat-list-item>
                                                      </mat-list>
                                                            
                                                      
                                                    </mat-expansion-panel>
                                            <!-- </div>
                                            <div class="col-md-6 order-last"> -->
                                              <mat-expansion-panel *ngIf="testset.testProfileName == 'Custom'" style="border-radius: 0px;">
                                                        <mat-expansion-panel-header style="background-color: #f9f9f9;">
                                                            <mat-panel-title  style="font-family: Lato;font-size: 14px;font-weight: 700;">
                                                                    Custom Test
                                                            </mat-panel-title>
                                                            
                                                        </mat-expansion-panel-header>
                                                    
                                                        <!-- Inside the panel expand-->
                                                        <mat-list>
                                                                <mat-list-item *ngFor = "let test of testSet[0].testSet"><mat-checkbox 
                                                                     (change)='makeJSON($event,i,testset,test)'>{{test.name}}</mat-checkbox></mat-list-item>
                                                        </mat-list>
                                                </mat-expansion-panel>
                                            
                                          </mat-accordion>
                                            </div>
                                          </div> 
                                        </div>
                                    <br>
                                        <button mat-raised-button type="button" class="btn btn-danger pull-right" matStepperNext>Next</button>
                                        <button mat-raised-button type="button" class="btn btn-danger pull-right" matStepperPrevious>Back</button>
                                        
                                    </div>
                                      
                                </div>
                                       
                                
                              </mat-step>
                              <!-- +==============================================================================
                                    This is SECOND STEPPER .that is user to display Costommer details insert form
                                   +============================================================================== -->
                              <mat-step [stepControl]="customerDetailForm">
                                  <div class="main-content">
                                        <!-- <div class="container-fluid"> -->
                                            <!-- <div class="row">
                                                <div class="col-md-12"> -->
                                                    <div class="card" style="margin-top: -70px;">
                                                        <div class="card-header card-header-danger">
                                                            <h4 class="card-title">Patient Information Collection</h4>
                                                            <p class="card-category">Use this form to collect the patient information.</p>
                                                        </div>
                                                        <div class="card-body">
                                                                <ng-template matStepLabel>Patient Details</ng-template>
                                                            <form [formGroup]= "customerDetailForm">
                                                                
                                                                <div class="row">
                                                                    <div class="col-md-8 "></div>
                                                                    <div class="col-md-3 " style = "margin-left:0px;">
                                                        
                                                                        <mat-form-field class="example-full-width" >
                                                                          <input matInput placeholder="Telephone Number" type="text" (keyup.enter)='onTpSubmit()' formControlName='tpNo'>
                                                                          
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="col-md-1">
                                                                       <button mat-icon-button (click)="onTpSubmit()" type="button"  class="btn btn-danger pull-left" ><mat-icon>search</mat-icon></button> 
                                                                    </div>
                                                                    
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                      <mat-form-field class="example-full-width" appearance="outline">
                                                                        <input matInput placeholder="Name" type="text" [(ngModel)]='existingCustomerData.name' formControlName='name'>
                                                                      </mat-form-field>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                      <mat-form-field class="example-full-width" appearance="outline">
                                                                        <input matInput placeholder="Email" type="email" [(ngModel)]='existingCustomerData.email' formControlName='email'>
                                                                      </mat-form-field>
                                                                    </div>
                                                                  </div>
                                      
                                                                <div class="row">
                                                                    
                                                                    <div class="col-md-4">
                                                                        <mat-form-field class="example-full-width"  appearance="outline">
                                                                            <mat-select placeholder="Location" formControlName = 'location'>
                                                                                <mat-option *ngFor="let location of locations"  [value]="location.locationId"> {{location.location}} </mat-option> 
                                                                            </mat-select>
                                                                        </mat-form-field>
                                                                    </div>

                                                                    <div class="col-md-3" appearance="outline">
                                                                          <mat-form-field class="example-full-width" appearance="outline">
                                                                                  <input matInput [matDatepicker]="picker" placeholder="Date of Birth" [(ngModel)]='existingCustomerData.dob' formControlName='dateOfBirth'>
                                                                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                                  <mat-datepicker touchUi #picker></mat-datepicker>
                                                                          </mat-form-field>
                                                                    </div>

                                                                     <div class="col-md-5">
                                                                        <label style = "margin-top: 20px; margin-left: 30px"> Gender:
                                                                            <mat-radio-group style = "margin-left:5px" [(ngModel)]='existingCustomerData.gender' formControlName='gender'appearance="outline">
                                                                                    <mat-radio-button value="male" >Male</mat-radio-button>
                                                                                    <mat-radio-button value="female" style = "margin-left:10px" >Female</mat-radio-button>
                                                                            </mat-radio-group>
                                                                        </label>
                                                                    </div>
                                      
                                                                </div>
                                                                
                                      
                                                                <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]='!customerDetailForm.valid' (click)='onSubmit()' matStepperNext>Next</button>
                                                                <button mat-raised-button type="button" class="btn btn-danger pull-right" matStepperPrevious>Back</button>
                                                                <div class="clearfix"></div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                <!-- </div>
                                            </div> -->
                                        <!-- </div> -->
                                      </div>
                                
                                    
                              </mat-step>
                              <!-- +==============================================================================
                                    This is THIRD STEPPER .This is used to Display billing details....
                                   +============================================================================== -->


                              
                              <mat-step [stepControl]="customerDetailForm">
                                  <div class="main-content">
                                        <!-- <div class="container-fluid"> -->
                                            <!-- <div class="row">
                                                <div class="col-md-12"> -->
                                                    <div class="card" style="margin-top: -70px;">
                                                        <div class="card-header card-header-danger">
                                                            <h4 class="card-title">Confirm Billing</h4>
                                                            <p class="card-category">Please confirm the Billing information from your Patient.</p>
                                                        </div>
                                                        <div class="card-body">
                                                             <ng-template matStepLabel>Confirm Billing</ng-template>
                                       <h4 *ngIf='receipt' style="font-weight: 500;font-size:14px;font-family: Lato">Reciept ID : #<span style="font-weight: 900;">{{receipt.receiptId}}</span></h4>
                                       <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary" >
                                                <th class="thBill">
                                                    Item Code
                                                </th>
                                                <th class="thBill">
                                                    Test Profile/Test Name
                                                </th>
                                                
                                                <th class="thBill">
                                                    Costs
                                                </th>
                                            </thead>
                                            <tbody>
                                              
                                                <tr  *ngFor='let testProf of testProfiles; trackBy:trackByName' >
                                                    
                                                    <td *ngIf='isCustomTest(testProf.profileName)' class="text-center">
                                                            {{ testProf.profileId}}
                                                    </td>
                                                    <td *ngIf='isCustomTest(testProf.profileName)'>
                                                            {{testProf.profileName}}
                                                    </td>
                                                        
                                                    <td class="text-primary" *ngIf='isCustomTest(testProf.profileName)' class="text-center">
                                                        {{testProfilePrice(testProf.profileId)|number:'.2-2'}}
                                                    </td>
                                                    
                                                    <td *ngIf='!isCustomTest(testProf.profileName)' class="text-center">
                                                            {{ testProf.profileId}}
                                                    </td>
                                                    <td *ngIf='!isCustomTest(testProf.profileName)'  class="text-center">
                                                            {{testProf.profileName}}
                                                    </td>
                                                        
                                                    <td class="text-primary" *ngIf='!isCustomTest(testProf.profileName)' class="text-center">
                                                        {{customTestPrice()|number:'.2-2'}}
                                                    </td>  
                                                </tr>
                                                <tr>
                                                    <td>
                                                        
                                                    </td>
                                                    <td  style="text-align:right;font-weight:900;">
                                                        Total
                                                    </td>
                                                    
                                                    <td class="text-primary">
                                                        Rs.{{SubTotal|number:'.2-2'}}
                                                    </td>
                                                </tr>
              
                                            </tbody>
                                        </table>
                                         <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]='!customerDetailForm.valid' (click)='onSubmit()' matStepperNext>Next</button>

                                         <button mat-raised-button type="button" class="btn btn-danger pull-right" matStepperPrevious>Back</button>
                                                                <div class="clearfix">
                                                                  
                                                                </div>
                                        </div>   
                                                        </div>
                                                    </div>
                                                <!-- </div>
                                            </div> -->
                                        <!-- </div> -->
                                      </div>
                                
                                    
                              </mat-step>
                              <!-- +==============================================================================
                                    This is FOURTH STEPPER .This is used to store container details ....
                                   +============================================================================== -->
                              
                              <mat-step>
                                <ng-template matStepLabel>Container specification</ng-template>
                                <form [formGroup]='specimenIds'>
                                    <div class="card">
                                        <div class="card-header card-header-danger">
                                                            <h4 class="card-title">Specimen Specification</h4>
                                                            <p class="card-category">Hold your bar code reader on the container to specify.</p>
                                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width" appearance="outline" >
                                                        <mat-label>Specimen ID</mat-label>
                                                        <input matInput placeholder="Specimen ID" type="text" formControlName='specimenId'>
                                                    </mat-form-field>
                                                </div>
                                                <!-- <div class="col-md-6">
                                                    <mat-form-field class="example-full-width" appearance="outline" >
                                                        <mat-label>Blood Sample ID</mat-label>
                                                        <input matInput placeholder="Blood Sample ID" type="text" formControlName='blood'>
                                                    </mat-form-field>
                                                </div> -->
                                            </div>
                                        </div>
                                        
                                    </div>
                                </form>
                                <div>
                                    <button mat-raised-button type="button" (click) = 'sendBigData()' class="btn btn-danger pull-right" matStepperNext>Save</button>
                                    <button mat-raised-button type="button" class="btn btn-danger pull-right" matStepperPrevious>Back</button>
                                </div>
                              </mat-step>
                            </mat-horizontal-stepper>
                        </mat-card-content>
                         
                    </mat-card>    
                </div>
  </div>
</div>
