<div style="width: 100%;height: 100%;background-color: #1A395B;text-align: center;">
 		

		<button  mat-raised-button class="startBillingBttn mat-raised-button"><span class="mat-button-wrapper">Start Billing</span><div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div></button><br><br>
		<!-- <span class="apostrophe">"</span><br> -->
		<span class="quote">See your customers as invited guests to a party.<br> It’s your job every day to make every important<br>aspect of the customer experience a little bit better.</span>
 </div>